input [type="range"]{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: black;
  }

  h1 {
    font-family: 'Roboto';
    color: black;
    font-size: 30px;
    text-align: centre;
  }
.title {
  font-size: 50px;
  }

.title-cation {
  font-size: 20px;
  font-weight: bold;
}
  h2 {
    font-family: 'Roboto', sans-serif;
    color: grey;
    font-size: 15px;
    padding: 30px 0px 0px 0px;
  }

  p, button{
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 15px;
    text-align: left;
  }
  figcaption {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 13px;
    text-align: left;
  }

  img{
    padding: 15px 0px 0px 15px;
  }

  .carousel-padding{
    padding: 15px;
  }
  div {
    margin: auto;
  }

  body {
    padding: 0px 20px 20px 20px;
    background-size: 100vw 150vh;
    overflow-x: hidden;
  }

  .slider {
    border-radius: 0px;
    text-align: left;
    width: 100%;
  }

#visualizer {
    padding: 0px 5% 0px 5%;
  }
#visualizer-text {
  font-size: 10px;
}
.parent {
  margin: 5px;
  padding: 5px;
  text-align: center;
}
.child {
  display: inline-block;
  padding: 3px;
  vertical-align: middle;
}

button {
  border: 0;
  outline: none;
  font-weight: bold;
}
button:hover {
  color: #005cc9;
}
button:focus {
  border: 0;
}

.description {
    padding: 0% 6% 0% 6%;
  }